.liStyle {
    margin: 0 10px;
    position: relative;
    flex-shrink: 0!important;
    list-style-type: none;
    border-style: groove;
    padding: 10px;
    cursor: pointer;
}

.movie-title{
    font-style: italic;
    font-weight: 100;
}

.grey {
    background: grey;
}

.green {
    background:green;
}

.displayRight {
    display: flex;
    margin-left: 50%;
}

.displayLeft {
    display: flex;
    margin-left: -52%;
}

.displayMiddle {
    display: flex;
}

.btn{
    width: 10%;
    padding: 10px;
}